body{
	background-color: #e6eeff;
	padding-right: 15%;
	padding-left: 15%;
	padding-top: 0%;
	padding-bottom: 0%;
	font-family: Arial, Helvetica, sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow: hidden;
	background-color: #3399ff;
}

h1{
	padding-top: 5%;
}



li{
	float: left;
}

li a {
	display: block;
	color:white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
}

li a:hover {
	background-color:  #99ccff;
}

#bioImage{
	width: 128 px;
	height: 96 px;
}


.active{
	background-color:#80dfff;
}